input{
  width : 30px;
}
main{
  color: #fff;
  background: #666;
  padding: 50px
}
main.orderForm{
  display: flex;
  flex-direction: column;
}
main.orderForm input{
  width : 100px;
}
button{
  width: 100px;
}
<<<<<<< HEAD
=======
hr{
  width: 1000%;
}
>>>>>>> ea8721d5eba7e5e590f25d4653f6870d209402d7
